/* <!-- Start Section1 "banner" --!> */
.banner{
    background-image:
    linear-gradient( #c5d0e6 1.98%, rgba(179, 183, 219, 0.351) 103.12%),
    url('../../Assets/WhatsApp\ Image\ 2024-10-05\ at\ 01.35.46_634487cc.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 316px; 
    width: 100%;
    margin-top: 80px;
    margin-bottom: 30px;
}

.logo {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: auto;
    margin-top: 90px;
}

.logo img {
    width: 77px;
    height: 77px;
}

.title{
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    text-align: center;
}
/* <!-- End Section1 "banner" --!> */

/* <!-- Start Section2 "cartProdects" --!> */
.cartItems img{
    width: 100px;
    height: 80px;
    border-radius: 10px;
}

.removeButton{
    color: rgba(184, 142, 47, 1);
    width: 21px;
    height: 21.88px;
    top: 3.06px;
    left: 3.5px;
    cursor: pointer;
}

.cartTotals{
    background-color: rgb(244, 204, 204);
    width: 85%;
    height: 330px;
    padding: 20px;
}

.boxTotalItems{
    width: 100%;
    padding: 20px;
}

.boxTotalItems{
    width: 96%;
}

.checkoutButton{
    border-radius: 5px;
    margin: 0 2px;
    padding: 8px 30px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 24px;
    transition: 0.6s ease;
}
/* <!-- End Section2 "cartProdects" --!> */

