/* Start Section1 "banner" */
.banner{
    background-color:rgba(249, 241, 231, 1) ;
    width: 100%;
    height: 100px;
    top: 114px;
    margin-top: 80px;
}
/* End Section1 "banner" */

/* Start Section2 "details" */
.details {
    width: 100%;
    margin-top: 20px; 
}

.smallImage {
    width: 120px; 
    height: 130px; 
    cursor: pointer; 
    border-radius: 8px;
    margin-left: 30px;
}

.largeImage {
    width: 100%; 
    height: 450px;
    cursor: pointer; 
    border-radius: 8px;
    margin: auto;
}

.rating{
    color: rgba(255, 199, 0, 1);
    padding-top: 10px;
    padding-bottom: 10px;
}

.sizeBtns button{
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    background-color: rgba(249, 241, 231, 1) !important; 
    color: rgba(0, 0, 0, 1);  
    margin: 6px 7px 20px 0;    
    width: 40px;
    height: 35px;
    text-align: center;
}

.sizeBtns button:hover{
    background-color: rgba(184, 142, 47, 1) !important;
    color: #FFFFFF !important;
}

.colorBtns {
    display: flex;
    gap: 10px; 
    margin-top: 10px;  
    margin-bottom: 30px;
}

.purple, .black, .gold {
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    border: 2px solid #ddd;
    transition: 0.3s ease-in-out; 
}

.purple:hover, .black:hover, .gold:hover {
    border: 3px solid  #ddd;
}

.purple {
    background-color:rgba(129, 109, 250, 1); 
    cursor: pointer;
}

.black {
    background-color: #000000; 
    cursor: pointer;
}

.gold {
    background-color: #d4af37; 
    cursor: pointer;
}


input, .addTcart, .compare {
    font-size: 1rem; 
    font-weight: 400;
    line-height: 24px;
    border-radius: 10px;
    margin: 0 6px;
    padding: 8px 30px;
    border: 1px solid rgba(159, 159, 159, 1);
    background-color: #f8f8f8;
    color: #000000;
    cursor: pointer;
    transition: 0.6s ease;
    width: 100%;
    max-width: 250px; 
    box-sizing: border-box;
}

@media (max-width: 768px) {
    input, .addTcart, .compare {
        padding: 10px 20px; 
        font-size: 0.9rem; 
    }
}


.addTcart:hover, 
.compare:hover {
    color: #f8f8f8;
    background-color: #B88E2F;
}

.quantityWrapper{
    display: flex;
    position: relative;
    margin: auto;
}

.quantity{
    width: 70px;
    height: 40px;
    text-align: center;
    border: 1px solid rgba(159, 159, 159, 1);
    border-radius: 6px; 
    margin-right: 3px;
    padding: 0;
}

.decrement{
    position: absolute;
    left: 10px;
    top: 6px;
    border: none;
    background-color: #f8f8f8;
}

.increment{
    position: absolute;
    left: 50px;
    top: 6px;
    border: none;
    background-color:#f8f8f8;
}

.listGroup .table {
    border: none; 
}

.listGroup .table td {
    border: none;
    color:rgba(159, 159, 159, 1);
}
.listGroup i {
    cursor: pointer; 
}
/* End Section2 "details" */


/* Start Section3 "description" */
.description li a {
    color:rgba(159, 159, 159, 1) ;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
}

.description li a:hover{
    color: rgba(0, 0, 0, 1);
}


.productDescription{
    color:rgba(159, 159, 159, 1) ;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align:  center;

    margin: 20px 30px;
}

.smallImge{
    width: 100%;
    height: 348px;
    top: 1373px;
    left: 100px;  
    cursor: pointer; 
    border-radius: 8px;
    margin: 20px;
}

.btnProducts button{
    color: #B88E2F;
    background-color: #FFFFFF;
    width: 245px;
    height: 48px;
    top: 2646px;
    left: 598px;
    gap: 0px;
    border: #B88E2F solid 1px;
    transition: 0.6s ease;
}

.btnProducts button:hover {
    background-color: #B88E2F;
    color: #FFFFFF;
    transform: scale(1.1);
}
/* End Section3 "description" */
