.cartSidebar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 20px;
    width: 340px;
    height: 746px;
    background-color:rgba(255, 255, 255, 1);
    box-shadow: -2px 0 10px rgba(0,0,0,0.1);
    z-index: 99999;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h3{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    margin: 0;
}

.closeButton {
    background: none;
    border: none;
    font-size: 1.5rem;
}

.cartItem {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.removeButton{
    position: absolute;
    right: 0;
    top: 42px;
    cursor: pointer;
    color: rgba(159, 159, 159, 1);
}

.itemImage {
    width: 105px;
    height: 105px;
    top: 132px;
    left: 1050px;
    border-radius: 10px;
    margin-right: 20px;
}

.itemDetails h4 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.itemPrice  {
    display: inline-block;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    color: rgba(184, 142, 47, 1);
}

.itemDetails span{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    width: 5px;
    height: 24px;
    padding-right: 20px;
}

.cartSummary {
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    font-size: 1.25rem;
}

.subtotal {
    display: flex;
    font-size: 1.25rem;
    margin: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.totlePrice {
    color: rgba(184, 142, 47, 1);
    padding-left: 93px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #ccc;
    padding-top: 10px;
    padding-bottom: 20px;
}

.cartButton, .checkoutButton, .compareButton {
    border-radius: 50px;
    margin: 0 2px;
    padding: 8px 20px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.6s ease;
}

.cartButton:hover, 
.checkoutButton:hover,  
.compareButton:hover {
    background-color: #B88E2F;
}
